name: CD Pipeline (Deploy to AWS)

on:
  push:
    branches:
      - main  # This runs whenever anyone pushes code to main

permissions:
  contents: read

jobs:
  deploy:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.9.0
        # This tells GitHub to use the Keys Arfi just added
        cli_config_credentials_token: ${{ secrets.AWS_ACCESS_KEY_ID }}

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      # "auto-approve" means the robot won't wait for someone to type "yes"
      run: terraform apply -auto-approve