name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login ke GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # Sekarang langsung pakai github.repository karena repo sudah lowercase!
          tags: ghcr.io/${{ github.repository }}/laravel:latest

      - name: Success!
        run: |
          echo "YEAY! Docker image berhasil di-upload!"
          echo "Link image:"
          echo "ghcr.io/${{ github.repository }}/laravel:latest"